# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# Flask instance folder
instance/

# Server-side session files
flask_sessions/

# User uploads
uploads/

# VS Code settings (optional)
.vscode/